* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #FAFAFA;
    font-family: arial, helvetica, sans-serif;
    font-size: 16px;
}

.principal {
    background: #F44336;
    border-top: 20px solid #D32F2F;
    color: #fff;
    padding: 50px 0;
    width: 100%;
}

.contenedor .tarea {
    width: 200px;
}

.contenedor .tarea:hover {
    text-decoration: line-through;
}

.contenedor .tarea {
    border-bottom: 1px solid #B6B6B6;
}

.contenedor .tarea li a {
    color: #212121;
    display: block;
    padding: 600px 0;
    text-decoration: none;
}

.subcontenedor1 {
    float: left;
    width: 20%;
    /*outline: red solid thin;*/
}

.subcontenedor2 {
    float: left;
    width: 80%;
    /*outline: green solid thin;*/
}

.boton:hover {
    background-color: #4CAF50;
    /* Green */
    color: white;
}